.search > label{
    margin: 0px;
    display: block;
}
h1{
    text-align: center;
}
.search{
    grid-area: menu;
    background-color: #8DE2EF;
    padding: 1rem;
}
.results{
    grid-area: results;
    padding: 1rem;
}

.wrapper{
    display: grid;
    grid-template-areas:
    'menu results results results'
}
img{
    height: 9ch;
    max-width: 16ch;
}
.record{
    width: 98%;
    border-style: solid;
    padding: 1rem;
}
#page_navigation a{
    text-decoration: none;
    color: blue;
}
#page_navigation a:visited {
    color: blue;
}
#page_navigation p {
    display: inline;
}
.img-max{
    position: fixed;
    top: 1%;
    height: 95%;
    max-width: 98%;
    z-index: 3;
    left: 50%;
    transform: translate(-50%)
}
#bg{
    visibility: hidden;
    position: fixed;
    background-color: rgb(75, 75, 75);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    opacity: 0.9;
}
#bg > p{
    position: fixed;
    bottom: 0px;
    height: 1%;
    transform: translate(-50%);
    left: 50%;
    color: white;
}