body{
	margin: 0;
}

nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

nav > ul{
    background-color: #404040;
    padding-left: 0;
    margin: 0;
}

nav > ul > li{
    list-style-type: none;
    display: inline-block;
    position: relative;
}

nav > ul > li:hover {
    background-color: #595959;
}


nav > ul > li > a{
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 1.5rem;
}

.active{
    background-color: green;
}